body {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow-x: hidden;
	overflow-y: auto;
	background: #282828;
	font-size: 16px;
	padding:0;
	margin:0;
}

::-webkit-scrollbar { 
    display: none; 
}

//Scroll-Indicator
.ul {
		width:100px;
		position:fixed;
		top:50%;
		right:0;
		text-align:center;
		background-color:#282828;
	}

	.li {
	    width:30px;
	    height:12px;
	  	display:block;
	  	margin-top:0px;
	  	border-bottom:3px solid lightgreen;
	  	margin-left:auto;
	  	cursor:pointer;
		  
	    &:hover {
		    border-bottom:3px solid white;
		}
}
/*
//Slideshow
$items: 4;
$animation-time: 8s;
$transition-time: 1.5s;
$scale: 20%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);

.slideshow {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.slideshow-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 50% 50%;
  background-size: cover;
  animation-name: kenburns;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: $total-time;
  opacity: 1;
  transform: scale($scale-base-1);

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-name: kenburns-#{$i};
      z-index: ($items - $i);
    }
  }
}

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);
    
    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if($t1 < 0%) { $t1: 0%; }
    @if($t2 < 0%) { $t2: 0%; }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if($t3 > 100%) { $t3: 100%; }
    @if($t4 > 100%) { $t4: 100%; }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} { opacity: 1; transform: scale($scale-base-1); }
    #{$t2} { opacity: 1; }
    #{$t3} { opacity: 1; }
    #{$t4} { opacity: 0; transform: scale(1); }
    
    @if($i != $items) {
      100% { opacity: 0; transform: scale($scale-base-1); }
    }
    
    @if($i == 1) {
      $scale-plus: ($scale * (100% - $t5) / $t4);
      $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);
    
      #{$t5} { opacity: 0; transform: scale($scale-plus-base-1); }
      100% { opacity: 1; }
    }
  }
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 99;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  background-color: rgba(255,255,255,.75);
  box-shadow: 0 1em 2em -1em rgba(0,0,0,.5);
  padding: 1em 2em;
  line-height: 1.5;
  
  small {
    display: block;
    text-transform: lowercase;
    font-size: .7em;
    
    &:first-child {
      border-bottom: 1px solid rgba(0,0,0,.25);
      padding-bottom: .5em;
    }
    
    &:last-child {
      border-top: 1px solid rgba(0,0,0,.25);
      padding-top: .5em;
    }
  }
}*/

//Top-Titles
#title{
    width: 100%;
  	top: 0;
    right: 0;
  	height: 100px;
  	z-index: 995;
  	-o-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;
  	padding: 10px 0 0 6%;
  	background: #FFFFFF;
  	text-align: center;

	h2{
		font-size: 36px;
  		font-weight: 200;
  		color: #575757;
  		margin: 10px 0;
	}
}

#grid {
	position: relative;
    width: 70%;
  	margin: 100px 0 200px 24%;
  	padding: 20px 2%;
  	-o-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	-ms-box-sizing: border-box;
  	box-sizing: border-box;

    li{
    	position: relative;
		float: left;
		width: 27.85714285714286%;
		padding: 0 0 32.16760145166612% 0;
		list-style-type: none;
		-o-transform: rotate(-60deg) skewY(30deg);
		-moz-transform: rotate(-60deg) skewY(30deg);
		-webkit-transform: rotate(-60deg) skewY(30deg);
		-ms-transform: rotate(-60deg) skewY(30deg);
		transform: rotate(-60deg) skewY(30deg);
		overflow: hidden;
		visibility: hidden;
		cursor: pointer;
		
		*{
	    	visibility: visible;
	    }

		.hexagon{
	    	position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    background: none;
		    -o-transform: skewY(-30deg) rotate(60deg);
		    -moz-transform: skewY(-30deg) rotate(60deg);
		    -webkit-transform: skewY(-30deg) rotate(60deg);
		    -ms-transform: skewY(-30deg) rotate(60deg);
		    transform: skewY(-30deg) rotate(60deg);
		    overflow: hidden;

		    img {
		    	left:-100%;
				right:-100%;
				height:100%;
				width: auto;
				margin: 0 auto;
				-o-transition: all 0.6s linear 0s; 
				-moz-transition: all 0.6s linear 0s; 
				-ms-transition: all 0.6s linear 0s; 
				-webkit-transition: all 0.6s linear 0s; 
				transition: all 0.6s linear 0s;		

				&:hover {
					height: 150%;
		  			-o-transform: translateZ(0) translateX(-25%);
		  			-moz-transform: translateZ(0) translateX(-25%);
		  			-webkit-transform: translateZ(0) translateX(-25%);
		  			-ms-transform: translateZ(0) translateX(-25%);
		  			transform: translateZ(0) translateX(-25%);
				}		
			}
   		}
	    
	    &:nth-child(3n+2) {
	    	margin: 0 1%;
	    }

	    &:nth-child(6n+4) { 
		    margin-left: 0.5%;
		}

	    &:nth-child(6n+4), &:nth-child(6n+5), &:nth-child(6n+6) {
		    margin-top: -6.9285714285%;
		    margin-bottom: -6.9285714285%;
		}

		&:nth-child(6n+1), &:nth-child(6n+2), &:nth-child(6n+3) {
			-o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
			-moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
			-webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
			-ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
			transform: translateX(50%) rotate(-60deg) skewY(30deg);
		}

		&:nth-child(6n+1){
			margin-left: 0.5%;
		}
        
    }
}

#item1, #item2, #item3, #item4, #item5, #item6, #item7, #item8, #item9, #item10, #item11, #item12, #item13, #item14, #item15 {
	overflow: hidden;
	z-index: 999;
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	height: 0;
	width: 90%;
	background: #FFFFFF;
	-o-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
	-moz-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
	-ms-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
	-webkit-transition: transform 0.6s linear 0s, height 0s linear 0.6s; 
	transition: transform 0.6s linear 0s, height 0s linear 0.6s;

	&:target{
		height: 100%;
  		overflow: auto;
  		-o-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  		-moz-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  		-ms-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  		-webkit-transition: transform 0.6s linear 0s, height 0s linear 0s; 
  		transition: transform 0.6s linear 0s, height 0s linear 0s;
  		-o-transform: translateZ(0) translateX(-100%);
  		-moz-transform: translateZ(0) translateX(-100%);
  		-webkit-transform: translateZ(0) translateX(-100%);
  		-ms-transform: translateZ(0) translateX(-100%);
  		transform: translateZ(0) translateX(-100%);
	}
}

.button{
	display: inline-block;
	height: auto;
	width: auto;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 5px;
	-o-transition: all 0.3s linear 0s; 
	-moz-transition: all 0.3s linear 0s; 
	-ms-transition: all 0.3s linear 0s; 
	-webkit-transition: all 0.3s linear 0s; 
	transition: all 0.3s linear 0s;
	background: #fd005f;

	&:hover{
		background: #fc5191;
	}

	p{
		margin: 0;
		color: #FFFFFF;
		font-size: 1em;
	}
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.left {
    left: 0;
    width: 50%;
    overflow: auto;
    background: none;
    margin-left:auto;
    margin-right:auto;

    h2 {
    	text-align: center;
  		font-size: 1.2em;
    }

    p{
    	padding: 0 10px;
  		font-size: 1em;
    }
}

.right {
    left: 0;
    width: 50%;
    overflow: auto;
    background: none;
    left: 50%;
    overflow: hidden;
    margin-left:auto;
    margin-right:auto;

    img{
    	height: auto;
  		width: 120%;
    }
}

.text{
	width: 960px;
	height: 1000px;
	margin: 50px auto 100px auto;

    h2 {
    	color: white;
    	text-align: center;
  		font-size: 1.2em;
    }

    p{
    	color: white;
    	padding: 0 10px;
  		font-size: 1em;
    }
}


@media only screen and (max-width: 767px) {
	#grid {
	    margin: 0 auto;
	    width: 95%;
	}

	.left {
		position: relative;
	    left: 0;
	    height: auto;
	    width: 90%;
	}

	.right {
		position: relative;
	    left: 0;
	    height: auto;
	    width: 100%;

	    img {
	    	height: auto;
	    	width: 100%;
	    }
	}
}